h1,p{
    background-color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}
.abc{
    background-color: yellow;
}
.xyz{
    background-color: brown;
}

